name: Terraform
on:
  push:
    paths:
      - 'terraform/**'
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Terraform Init
      run: terraform init
      working-directory: terraform
